.accordion {
    width: 90%;
    margin: 10px auto;
    background: #212529;
    color: #fff;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid grey;
}
.accordion-item {
    height: fit-content;
    overflow: hidden;
}
.accordion-item__btn{
    background: transparent;
    border: 1px solid grey;
    width: 100%;
    padding: 20px;
    color: white;
    text-align: left;
}
.accordion-item__content{
    transition: all 0.5s ease-in-out;
    transform: rotateX(90deg);
    height: 0;
    margin: 0;
    padding: 0;
}
.fold{
    transform: rotateX(0deg);
    position: relative;
    padding: 20px;
}